
<h1><strong>Olympic Games App</strong></h1>
<!-- Infos sur les participations des pays-->
<div class="info-container">
  <div class="info-box">
    <h3>Total Countries</h3>
    <p>{{ totalCountries }}</p>
  </div>
  <div class="info-box">
    <h3>Max Participations</h3>
    <p>{{ nombreDeJo }}</p>
  </div>
</div>

 <!-- Gestion de l'abonnement/desabonement-->
<div *ngIf="olympics$ | async as olympics">
<!-- Graphique ngx-charts -->
<ngx-charts-pie-chart
  [view]="view"
  [results]="olympics"
  [legend]="true"
  [explodeSlices]="false"
  [labels]="true"
  [doughnut]="false"
  [gradient]="false"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>
</div>