.info-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center; /* Centre le texte horizontalement */
    margin-bottom: 20px; /* Ajoute un espacement en bas */
    color: #cd7f32; /* Couleur bronze */
    font-size: 56px; /* Taille de police */
    font-weight: bold; /* Texte en gras */
  }
  
  .info-box {
    flex: 1;
    text-align: center;
    background-color: rgba(128, 0, 0, 0.8); /* Rouge-bordeaux avec 80% d'opacité */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ombre */
    text-align: center; /* Centrer le texte */
    margin: 10px; /* Espacement externe */
  }
  
  .info-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #e9cfcf;
  }
  
  .info-box p {
    font-size: 24px;
    font-weight: bold;
    color: #ce9b9b; 
  }

  ngx-charts-pie-chart {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .info-box {
      flex: 1 1 calc(50% - 20px); /* 2 par ligne sur les tablettes */
    }
  }
  
  @media (max-width: 480px) {
    .info-box {
      flex: 1 1 100%; /* 1 par ligne sur les petits écrans */
    }
  
    .chart-container {
      flex-direction: column;
      padding: 10px;
    }
  }