
<h1><strong>Médailles de Jeux Olympiques par le passé</strong></h1>
<div class="info-container">
  <div class="info-box">
    <h3>Total Countries</h3>
    <p>{{ totalCountries }}</p>
  </div>
  <div class="info-box">
    <h3>Max Participations</h3>
    <p>{{ nombreDeJo }}</p>
  </div>
</div>


<div *ngIf="olympics$ | async as olympics">

<ngx-charts-pie-chart
  [view]="view"
  [results]="olympics"
  [legend]="true"
  [explodeSlices]="false"
  [labels]="true"
  [doughnut]="false"
  [gradient]="false"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>
</div>